.tocFloating {
  display: none;
}

@media (min-width: 1200px) {
  .tocFloating {
    display: flex;
  }
}

.tocButton {
  display: none;
}

@media (max-width: 1200px) {
  .tocButton {
    display: flex;
  }
}
